a{
  text-decoration: none;
}

.newProduct {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://wallpapercave.com/wp/gQSAMah.jpg")
      center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex: 4; */
  /* margin-left: 100px; */
  flex-direction: column;
  padding: 100px;
  font-size: 24px;
  gap: 40px;
}
.addProductTitle{
  text-align: center;
}

.addProductForm {
  background-color: #fff;
  border-radius: 8px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  padding: 30px 0px;
}

.addProductItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addProductItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addProductItem > input {
 
  padding: 10px;
  border-radius: 8px;
}

.addProductItem > select {
  padding: 10px;
  border-radius: 8px;
}

.addProductButton {
  margin-top: 10px;
  padding: 7px 10px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
  width: 130px;
  height: 50px;
  font-size: 20px;
}
#file{
  padding-left: 65px;
  font-size: 20px;
}
.custom-file-label{
            display: inline-block;
            padding:  12px;
            cursor: pointer;
            background-color: #3498db;
            color: #fff !important;
            border: none;
            border-radius: 4px;
            font-size: 16px;

}
input[type="file"] {
  display: none;
}


@media only screen and (max-width: 550px) {
  .addProductForm{
    width: 400px;
  }
  input {
    margin-left: 10vw;
    width: 300px;
  }
  .addProductItem > select
  {
    margin-left: 10vw;
    width: 315px;
  }
  .custom-file-label
  {
    margin-left: 10vw;
    width: 300px;
  }
}